<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.email_field :name, autocomplete: "on", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.email_field :lastName, autocomplete: "on" %>
  </div>
  
    <div class="field">
    <%= f.label :Numero_de_documento %><br />
    <%= f.email_field :document, autocomplete: "on" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="field">
    <%= f.label :Contraseña_actual %> <i>(Necesita su contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %> <i>(Si no desea cambiar la contraseña, puede dejar estos campos en blanco)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Nueva_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancelar cuenta</h3>

<p>¿No es lo que esperabas? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Esta seguro?" }, method: :delete %></p>

<%= link_to "Back", :back %>
