<%= form_for(@boletu) do |f| %>
  <% if @boletu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boletu.errors.count, "error") %> prohibited this boletu from being saved:</h2>

      <ul>
      <% @boletu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.text_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :ticket_id %><br>
    <%= f.text_field :ticket_id %>
  </div>
  <div class="field">
    <%= f.label :pricePoints %><br>
    <%= f.number_field :pricePoints %>
  </div>
  <div class="field">
    <%= f.label :priceDinner %><br>
    <%= f.text_field :priceDinner %>
  </div>
  <div class="field">
    <%= f.label :pointsNumber %><br>
    <%= f.number_field :pointsNumber %>
  </div>
  <div class="field">
    <%= f.label :boletusType %><br>
    <%= f.check_box :boletusType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
