<p id="notice"><%= notice %></p>

<h1>Listing Boletus</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Ticket</th>
      <th>Pricepoints</th>
      <th>Pricedinner</th>
      <th>Pointsnumber</th>
      <th>Boletustype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boletus.each do |boletu| %>
      <tr>
        <td><%= boletu.movie %></td>
        <td><%= boletu.ticket %></td>
        <td><%= boletu.pricePoints %></td>
        <td><%= boletu.priceDinner %></td>
        <td><%= boletu.pointsNumber %></td>
        <td><%= boletu.boletusType %></td>
        <td><%= link_to 'Show', boletu %></td>
        <td><%= link_to 'Edit', edit_boletu_path(boletu) %></td>
        <td><%= link_to 'Destroy', boletu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boletu', new_boletu_path %>
