<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @boletu.movie %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @boletu.ticket %>
</p>

<p>
  <strong>Pricepoints:</strong>
  <%= @boletu.pricePoints %>
</p>

<p>
  <strong>Pricedinner:</strong>
  <%= @boletu.priceDinner %>
</p>

<p>
  <strong>Pointsnumber:</strong>
  <%= @boletu.pointsNumber %>
</p>

<p>
  <strong>Boletustype:</strong>
  <%= @boletu.boletusType %>
</p>

<%= link_to 'Edit', edit_boletu_path(@boletu) %> |
<%= link_to 'Back', boletus_path %>
