<div class="jumbotron">
	<% if user_signed_in? %>
		<p><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class=>"btn btn-danger btn-lg" %></p>
		<p><%= link_to "Actualizar datos", edit_user_registration_path, :class=>"btn btn-danger btn-lg" %></p>
	<% else %> 
		<p><%= link_to  "Ingresar", new_user_session_path, :class=>"btn btn-danger btn-lg"%></p>
		<p><%= link_to  "Registrarse", new_user_registration_path, :class=>"btn btn-danger btn-lg"%></p>
	<% end %>
	
    <h1 style="text-align: center;">Bienvenido a <span style="color:blue">CINEMA UDEA</span></h1>  
</div>

<div class="container">
<div id="slides">
  <%= image_tag "irom.jpg", :alt=>"alt text" %>
  <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left"></i></a>
  <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right"></i></a>
</div>



<%= link_to 'Ver la cartelera completa', movie_index_path, :class=>"btn btn-primary btn-lg" %>

<script>
$(function() {
  $('#slides').slidesjs({
    width: 940,
    height: 528,
    navigation: false
  });

  /*
    To have multiple slideshows on the same page
    they just need to have separate IDs
  */
  $('#slides2').slidesjs({
    width: 940,
    height: 528,
    navigation: false,
    start: 3,
    play: {
      auto: true
    }
  });

  $('#slides3').slidesjs({
    width: 940,
    height: 528,
    navigation: false
  });
});
</script>