<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user.name %>
</p>

<p>
  <strong>Pricedinner:</strong>
  <%= @movie %>
</p>

<p>
  <strong>Pricepoints:</strong>
  <%= @ticket.amountGeneral %>
</p>

<p>
  <strong>Totalpoints:</strong>
  <%= @ticket.amountPopular %>
</p>

<%= @ticket.name %>

<!-- Faltaria los demas cosos -->




