<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<p>
  <strong>Pricedinner:</strong>
  <%= @ticket.movie %>
</p>

<p>
  <strong>Pricepoints:</strong>
  <%= @ticket.amountGeneral %>
</p>

<p>
  <strong>Totalpoints:</strong>
  <%= @ticket.amountPopular %>
</p>

<!-- Faltaria los demas cosos -->


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
