<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="col-md-12">
    <h3 style="text-align: center">Lista de peliculas</h3>
  </div>
  <hr>
  <div class="content-panel">
    <table class="table">
      <thead>
        <tr>
          <th>Horario</th>
          <th>Nombre</th>
          <th>Sede</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.horary.hourBegin %></td>
            <td><%= movie.name %></td>
            <td><%= link_to 'Ver la informacion de la pelicula', movie, :class=>"btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Agregar nueva pelicula', new_movie_path %>
<%= link_to 'Index principal', root_path %>