<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 style="text-align: center"><%=@movie.name%></h3>
  </div>

  <div class="panel-body"> 

    <div class="row">
      <div class="col-md-6">
        <b>Horario:</b>
        <% t= @movie.horary.begin %><%= t.day.to_s + " " + t.strftime("%b") %> <%= t.strftime("%Y") %>
      </div>
    </div>


    <div class="row">
       <div class="col-md-6">
          <b>Sede:</b>
          <%= @seat.name%>
        </div>
        <div class="col-md-6">
          <b>Sala:</b>
          <%= @movie.hall.name%>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <b>Duracion:</b>
        <%= @movie.duration %>
      </div>
      <div class="col-md-6">
         <strong>Informacion:</strong>
        <%= @movie.information %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <b>Sillas en preferencia disponibles:</b>
        <%= @movie.hall.numberChairP %>
      </div>
      <div class="col-md-6">
        <b>Sillas en general disponibles:</b>
        <%= @movie.hall.numberChairG %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <b>Precio en silla general:</b>
        <%= @movie.priceGeneral %>
      </div>
      <div class="col-md-6">
        <b>Precio en silla popular:</b>
       <%= @movie.pricePopular %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <b>Precio con puntos en silla general:</b>
        <%= @movie.pointsGeneral %>
      </div>
      <div class="col-md-6">
        <strong>Numero de puntos que asigna:</strong>
        <%= @movie.setPoints %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12" >
      <%= image_tag @movie.image_url.to_s %>
      </div>

    </div>
    
    <div class="row">
      <h2>Agregar un nuevo comentario:</h2>
      <%= form_for([@movie, @movie.comments.build]) do |f| %>
        <div class="col-md-12" >    
          <%= f.label :commentario %><br>
          <%= f.text_field :comment %>
          <%= f.submit %>
        </div>
      <%end%>
    </div>

    <div class="row">
      <h2>Comentarios</h2>
      <% @comments.each do |comment| %>
          <div class="col-md-12" > 
              Commentario:
              <%= comment.comment %>
          </div>
      <% end %>
    </div>
  </div>
</div> 


<% if current_user && current_user.has_role?(:admin)  %>
  <%= link_to 'Editar', edit_movie_path(@movie) %>   
<% elsif current_user && current_user.has_role?(:user) %>
  <%= link_to 'Adquirir boletos', new_movie_ticket_path(@movie) %> 
<%else%>
  <p>Para realizar alguna transaccion como compra, reserva de boletas, tiene que acceder a la cuenta cinema udea</p>
  <p><%= link_to  "Ingresar", new_user_session_path, :class=>"btn btn-danger btn-lg"%></p>
<% end %>