<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 style="text-align: center"><%=@movie.name%></h3>
  </div>

  <div class="panel-body"> 

    <div class="form-group col-xs-9">
      <strong>Horario:</strong>
      <%= @movie.horary.begin  %>
    </div>

    <div class="form-group col-xs-9">
      <strong>Sede:</stro.seat_idng>
        <%= @seat.name%>
    </div>

    <div class="form-group col-xs-9">
      <strong>Sala:</stro.seat_idng>
      <%= @movie.hall.name%>
    </div>


    <div class="form-group col-xs-9">
      <strong>Duracion:</strong>
      <%= @movie.duration %>
    </div>

    <div class="form-group col-xs-9">
      <strong>Informacion:</strong>
      <%= @movie.information %>
    </div>

    <div class="form-group col-xs-9">
      <strong>Sillas en preferencia disponibles:</strong>
      <%= @movie.hall.numberChairP %>
    </div>

    <div class="form-group col-xs-9">
      <strong>Sillas en general disponibles:</strong>
      <%= @movie.hall.numberChairG %>
    </div>


    <div class="form-group col-xs-9">
      <strong>PRecio en silla general:</strong>
      <%= @movie.priceGeneral %>
    </div>

    <div class="form-group col-xs-9">
      <strong>PRecio en silla popular:</strong>
      <%= @movie.pricePopular %>
    </div>

    <div class="form-group col-xs-9">
      <strong>PRecio con puntos en silla general:</strong>
      <%= @movie.pointsGeneral %>
    </div>


    <div class="form-group col-xs-9">
      <strong>Numero de puntos que asigna:</strong>
      <%= @movie.setPoints %>
    </div>

    <div class="form-group col-xs-9">
      <strong>imagen:</strong>
      <%= image_tag @movie.image_url.to_s %>
    </div>
    

    <h2>Agregar un nuevo comentario:</h2>
    <%= form_for([@movie, @movie.comments.build]) do |f| %>
      <p>     
        <%= f.label :commentario %><br>
        <%= f.text_field :comment %>
        <%= f.submit %>
      </p>
    <%end%>


    <h2>Comentarios</h2>
    <% @comments.each do |comment| %>
      <p>
        <strong>Commenter:</strong>
        <%= comment.comment %>
      </p>
    <% end %>
                        
  </div>
</div> 


<% if current_user && current_user.has_role?(:admin)  %>
  <%= link_to 'Editar', edit_movie_path(@movie) %>   
<% elsif current_user && current_user.has_role?(:user) %>
  <%= link_to 'Adquirir boletos', new_movie_ticket_path(@movie) %> 
<%else%>
  <p>Para realizar alguna transaccion como compra, reserva de boletas, tiene que acceder a la cuenta cinema udea</p>
  <p><%= link_to  "Ingresar", new_user_session_path, :class=>"btn btn-danger btn-lg"%></p>
<% end %>